* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif;
  color: var(--light_blue);
  background-color: var(--blue);
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif;
  font-size: 20px;
  color: var(--light_blue);
  background-color: var(--blue);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

header nav ul li a {
  color: var(--light_blue);
  background-color: var(--blue);
  text-decoration: none !important;
}

figure {
  display: flex;
  justify-content: center;
  background-color: var(--dark_blue);
}

figure img {
  display: flex;
  position: relative;
  max-width: 400px;
  max-height: 600px;
}

figcaption {
  align-self: center;
  text-align: center;
  width: 100%;
  z-index: 5;
  position: absolute;
  top: 75%;
  left: 0;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif;
  color: var(--light_blue);
  background-color: var(--blue);
  border-style: solid;
  border-color: var(--med_blue);
  padding: 10px;
  font-size: 20px;
}

main {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif;
  background-color: var(--bright_blue);
  color: var(--dark_blue);
}

main ul li a {
  background-color: var(--bright_blue);
  color: var(--dark_blue);
  text-decoration: none;
}

h2 {
  float: left;
}

h4 {
  color: #0077b6;
  font-size: 16px;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

.main-content p {
  font-size: 20px;
  line-height: 2;
}

.main-content ul li {
  list-style-type: none;
  font-size: 16px;
  background-color: var(--bright_blue);
  color: var(--dark_blue);
}

.row-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 35px;
  width: 25%;
  border-right: 5px;
  border-right-style: solid;
  border-color: var(--dark_blue);
}

.row-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none !important;
  background-color: var(--bright_blue);
  color: var(--dark_blue);
  width: 75%;
  padding: 25px;
}

.row-right img {
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-color: var (darkblue);
  position: relative;
}

.row-right h3 {
  position: absolute;
  z-index: 5;
  border-color: var(--dark_blue);
  background-color: var(--bright_blue);
  border-style: solid;
  padding: 5px;
  bottom: -110%;
  right: 5%;
}

footer {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif;
  padding-top: 40px;
  background-color: var(--bright_blue);
  color: var(--dark_blue);
  text-align: center;
}

:root {
  --light_blue: #90e0ef;
  --blue: #0077b6;
  --bright_blue: #48cae4;
  --med_blue: #023e8a;
  --dark_blue: #03045e;
}

@media screen and (max-width: 800px) {
  .main-content {
    flex-direction: column;
  }
  header {
    flex-direction: column;
  }
  .row-left {
    border-bottom: 5px;
    border-bottom-style: solid;
    border-color: var(--dark_blue);
    border-right-style: none;
  }
}

@media screen and (max-width: 1000px) {
  .row-right h3 {
    display:none;
}